{% extends "base.html" %}
{% load static %}

{% block content%}

<h2 class="mb-4">Spotlight Restaurants</h2>
<div class="row">
  {% for restaurant in spotlight_restaurants %}
    {% include "partials/_restaurant_card.html" with restaurant=restaurant %}
  {% empty %}
    <p>No spotlight restaurants available.</p>
  {% endfor %}
</div>

<hr class="my-4">

<h2 class="mb-4">All Restaurants</h2>
<div class="row">
  {% for restaurant in restaurants %}
    {% include "partials/_restaurant_card.html" with restaurant=restaurant %}
  {% empty %}
    <p>No restaurants found.</p>
  {% endfor %}
</div>
{% endblock %}